<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="css/styles.css" rel="stylesheet">

</head>

<body>
<div class="">
<h1 style="text-align: center"><%= message %></h1>

    <table class="table table-responsive-lg table-dark table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">ASG Name</th>
            <th scope="col">ARN</th>
            <th scope="col">Tags</th>
            <th scope="col">Switch</th>
            <th scope="col" class="th-md">ASG Desired Amount</th>
        </tr>
        </thead>

        <tbody>
    <% for (const group of groups) { %>
            <tr>
                <td style="min-width: 20%; font-weight: bold; font-size: 120%"><%= group.AutoScalingGroupName %></td>
                <td style=""><%= group.AutoScalingGroupARN %></td>
                <td style="width: 10%"><%= JSON.stringify(group.Tags) %></td>
                <td style="min-width: 5%"><button class="btn btn-warning" onclick="console.log('Dope!')">Scale down</button></td>
                <td>
                    <div></div>
                    <div>MinSize: <%= group.MinSize %></div>
                    <% if (group.DesiredCapacity === group.MinSize) { %>
                        <div style="color: lightgreen">Desired: <%= group.DesiredCapacity %></div>
                    <% } else { %>
                        <div style="color: palevioletred">Desired: <%= group.DesiredCapacity %></div>

                    <% } %>
                    <div>MaxSize: <%= group.MaxSize %></div>
                <br/>

                </td>
            </tr>
    <% } %>
        </tbody>
    </table>

</div>
</body>

</html>