<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="css/styles.css" rel="stylesheet">

</head>

<body>

<h1><%= message %></h1>

<table style="width:100%" class="table">
    <tr>
        <th>Stack Name</th>
        <th>Description</th>
        <th>Stack Status</th>
        <th>Drift Status</th>
        <th>ON/OFF</th>
    </tr>

<% for (const stack of stacks) { %>
        <tr>
            <td><%= stack.StackName %></td>
            <td><%= stack.TemplateDescription %></td>
            <td><%= stack.StackStatus %></td>
            <td><%= stack.DriftInformation.StackDriftStatus %></td>
            <td><button onclick="console.log('Dope!')">Click me to turn off</button></td>
        </tr>
<% } %>
</table>


</body>

</html>