<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="css/styles.css" rel="stylesheet">

</head>

<body>
<%- include nav.ejs %>
<table class="table table-responsive-lg table-dark table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">CloudFormation Stack</th>
        <th scope="col">Stage</th>
        <th scope="col">ASG Name</th>
        <th scope="col" class="th-md">Minimum Size</th>
        <th scope="col" class="th-md">Desired Size</th>
        <th scope="col" class="th-md">Maximum Size</th>
        <th scope="col" class="th-md">Alive</th>
        <th scope="col">Switch</th>
    </tr>
    </thead>

    <tbody>
    <% for (const group of groups) { %>
        <tr>
            <td ><%= group.tags.cloudformationName %></td>
            <td ><%= group.tags.stage %></td>
            <td><%= group.group.AutoScalingGroupName %></td>
            <td ><%= group.group.MinSize %></td>
            <td ><%= group.group.DesiredCapacity %></td>
            <td ><%= group.group.MaxSize %></td>
            <td >
                <% if (group.group.DesiredCapacity === group.group.MinSize) { %>
                    <span style="color: lightgreen">Desired: <%= group.group.DesiredCapacity %></span>
                <% } else { %>
                    <span style="color: palevioletred">Desired: <%= group.group.DesiredCapacity %></span>
                <% } %>
            </td>
            <td style="min-width: 5%"><button class="btn btn-warning" onclick="event.target.innerHTML = 'Scaling down...'">Scale down</button></td>
        </tr>
    <% } %>
    </tbody>
</table>

<%- include partials/footer.ejs %>

</body>

</html>